@use 'partials' as *;

#main-nav {
  background: $deepBlue;

  ul {
    @include flexRowWrap;
  }

  //li {
    //TheNetNinja here uses float.
    //please don't make navbars with floats.
    //not in 2021.
  //}

  a{
    color: $offWhite;
    text-decoration: none;
    padding: 1em;
    display: inline-block;
    text-align: center;

    &:hover {
      background: $notSoDeepBlue;
    }
  }
} //end #main-nav

section h1 {
  font-size: $sectionHeading;
  color: $deepBlue;
}

.lead-banner {
  @include banner;

  text-align: right;
}

.lessons-banner {
  @include banner;

  li {
    text-transform: uppercase;
    font-size: 1em;
    max-width: 500px;
    margin: 60px 0;
  }
}

#services {
  margin-bottom: 60px;
  
  ul {
    @include flexRowWrap;
    gap: calc(1em + 5vw);
  }
  li {
    text-align: center;
    flex: 1;
  }
  img {
    width: 60%;
    margin: 20px 20%;
  }
  a {
    text-decoration: none;
    color: $deepBlue;
    font-weight: bold;
    &:hover {
      color: red;
    }
  }
}