@use 'partials' as *;

section h1 {
  font-size: $sectionHeading;
  color: $deepBlue;
}

.lead-banner {
  @extend %banner;

  text-align: right;
}

/*
 
 8b    d8    db    88 88b 88       88b 88    db    Yb    dP     
 88b  d88   dPYb   88 88Yb88 _____ 88Yb88   dPYb    Yb  dP      
 88YbdP88  dP__Yb  88 88 Y88 """"" 88 Y88  dP__Yb    YbdP       
 88 YY 88 dP""""Yb 88 88  Y8       88  Y8 dP""""Yb    YP        
 
*/
#main-nav {
  background: $deepBlue;
  box-shadow: 0 3px 20px 0 hsl(0 0% 30%);
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;

  @include mediaQuery(600px) {
    position: static;
  }

  .wrapper {
    padding: 0;
  }

  ul {
    @include flexRowWrap;

    /*@include mediaQuery(600px) {
      @include flexColumnNoWrap;
    }*/
  }

  li {
    //TheNetNinja here uses float.
    //please don't make navbars with floats.
    //not in 2021.
    flex: 1 1 8rem;

    @include mediaQuery(600px) {
      flex: 1 1 0;
    }
  }

  a {
    color: set-text-color($deepBlue);
    text-decoration: none;
    padding: 1em;
    display: block;
    text-align: center;
    white-space: nowrap;

    &:hover {
      //functions
      background: invert($deepBlue);
      color: invert(set-text-color($deepBlue));
    }
  }
} //end #main-nav

/*
 
 88     888888 .dP"Y8 .dP"Y8  dP"Yb  88b 88 .dP"Y8     
 88     88__   `Ybo." `Ybo." dP   Yb 88Yb88 `Ybo."     
 88  .o 88""   o.`Y8b o.`Y8b Yb   dP 88 Y88 o.`Y8b     
 88ood8 888888 8bodP' 8bodP'  YbodP  88  Y8 8bodP'     
 
*/
.lessons-banner {
  @extend %banner;

  ul {
    max-height: 20em;

    @include mediaQuery(1060px) {
      @include flexRowNoWrap;
      margin: 1.5em 0 0;
    }
    @include mediaQuery(900px) {
      overflow: auto;
      min-height: auto;
    }
    @include mediaQuery(500px) {
      @include flexCustom(column, nowrap, center, center);
      margin: 0.5em 0 0;
    }
  }

  li {
    text-transform: uppercase;
    font-size: 1em;
    max-width: 500px;
    @include mediaQuery(1060px) {
      margin: 0;
      padding: 0 1em;
      align-self: flex-end;

      &:nth-child(2) {
        align-self: center;
      }
      &:nth-child(3) {
        align-self: flex-start;
      }
    }
    @include mediaQuery(900px) {
      align-self: flex-start !important;
    }
    @include mediaQuery(500px) {
      //@extend .m-1 (cannot extend classes or other elements in media queries ofc)
      margin: 1rem 0 0;
    }
  }
}
/*
 
 .dP"Y8 888888 88""Yb Yb    dP 88  dP""b8 888888 .dP"Y8     
 `Ybo." 88__   88__dP  Yb  dP  88 dP   `" 88__   `Ybo."     
 o.`Y8b 88""   88"Yb    YbdP   88 Yb      88""   o.`Y8b     
 8bodP' 888888 88  Yb    YP    88  YboodP 888888 8bodP'     
 
*/
#services {
  margin-bottom: 60px;

  ul {
    @include flexRowWrap;
    gap: calc(1em + 5vw);

    @include mediaQuery(600px) {
      @include flexColumnNoWrap;
    }
  }
  li {
    text-align: center;
    flex: 1;
    @include flexColumnNoWrap;
    display: flex;
    justify-content: center;
  }
  img {
    max-width: 60%;
    margin: 1em 20%;
  }
  a {
    text-decoration: none;
    color: $deepBlue;
    font-weight: bold;
    &:hover {
      color: lighten(complement($deepBlue), 40);
    }
  }
}
/*
 
 88""Yb 88""Yb  dP"Yb   88888 888888  dP""b8 888888 .dP"Y8     
 88__dP 88__dP dP   Yb     88 88__   dP   `"   88   `Ybo."     
 88"""  88"Yb  Yb   dP o.  88 88""   Yb        88   o.`Y8b     
 88     88  Yb  YbodP  "bodP' 888888  YboodP   88   8bodP'     
 
*/
#projects {
  margin: 1em 0 2em 0;

  ul {
    @include grid(6, 0.5em);

    @include mediaQuery(1060px) {
      @include grid(4, 0.5em);
    }

    @include mediaQuery(750px) {
      @include grid(3, 0);
    }

    @include mediaQuery(520px) {
      @include grid(2, 0);
    }

    li {
      display: flex;
      justify-content: center;
    }

    img {
      display: block;
      margin: 0;
      padding: 0;
    }
  }
}
